@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../files/fonts/TTLakes-Medium.eot');
    src: url('../files/fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/TTLakes-Medium.woff') format('woff'),
        url('../files/fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../files/fonts/TTLakes-Bold.eot');
    src: url('../files/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/TTLakes-Bold.woff') format('woff'),
        url('../files/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../files/fonts/TTLakes-Regular.eot');
    src: url('../files/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/TTLakes-Regular.woff') format('woff'),
        url('../files/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    margin: 0;
}

ul li {
    list-style: none;
}

a,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
}

.wrapper {
    background-color: #F8F8F8;
    height: 100vh;
    margin: 0 auto;
    max-width: 1120px;
}

.header {
    display: flex;
    background-color: #fff;
    height: 88px;
    align-items: center;
    padding: 0 16px;
}

.button {
    border: 0;
    background-color: transparent;
    outline: none;
}

.header__button {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.header__icon {}

.logo {
    padding: 5px 16px 0;
}

.call {}

.chat {}

.profile {}

.repair-block {
    position: relative;
    display: flex;
    margin-left: auto;
}

.repair-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    border-top: 2px solid #EAEAEA;
    transform: rotate(90deg);
    right: 101px;
    top: 19px;
}

.repair {
    margin-right: 16px;
}

.checkstatus {}

.main__header {}

.service {}

.main__title {
    position: relative;
    font-family: "TT Lakes Bold";
    font-size: 28px;
    letter-spacing: -0.6px;
    margin: 0;
    padding: 25px 16px 0;
}

.main__title::before {
    content: "";
    display: block;
    position: absolute;
    transform: rotate(90deg);
    width: 40px;
    border-top: 8px solid #41F6D7;
    border-radius: 50px;
    left: -20px;
    top: 40px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin: 0;
    padding: 27px 0 10px 17px;
    overflow: auto;
}


.menu::-webkit-scrollbar {
    width: 0;
}

.menu::after {
    content: '';
    position: absolute;
    right: 0;
    top: 180px;
    width: 25px;
    height: 30px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.menu__list {
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
    padding: 5px 13px;
    margin-right: 7px;
    border: 2px solid transparent;
    letter-spacing: -0.2px;
}

.menu__list:hover {
    background-color: #fff;
    border: 2px solid #41F6D7;
    border-radius: 5px;
}

.link {}

.menu__link {
    color: #7E7E82;
}

.main__section {
    display: flex;
}

.main__p {
    line-height: 18px;
    padding: 0 16px 10px;
    letter-spacing: 0.2px;
    margin-top: -15px;
}

.main__button {
    position: relative;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    padding: 0 48px 17px;
    letter-spacing: -0.2px;
}

.main__button::before {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #41F6D7;
    border-radius: 2px;
    border-top: inherit;
    border-left: inherit;
    transform: rotate(45deg);
    left: 25px;
    top: 2px;
}

.main__button::after {
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    border: 2px solid #41F6D7;
    border-radius: 2px;
    border-top: inherit;
    border-left: inherit;
    transform: rotate(45deg);
    left: 25px;
    top: 8px;
}

.img {}

.main__img {
    width: 320px;
}


@media (min-width: 1120px) {
    .service {
        display: flex;
        align-items: flex-end;
    }

    .header {
        display: none;
    }

    .repair-block {
        margin-right: 47px;
    }

    .repair {
        position: relative;
        margin-right: 160px;
    }

    .checkstatus {
        position: relative;
    }

    .repair::before {
        content: "Оставить заявку";
        display: block;
        position: absolute;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        right: 50px;
        color: #1B1C21;
    }

    .checkstatus::before {
        content: "Статус ремонта";
        display: block;
        position: absolute;
        font-family: 'TT Lakes Medium';
        font-size: 16px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        right: 50px;
        color: #1B1C21;
    }

    .repair-block::before {
        content: "";
        display: none;
        position: absolute;
        width: 32px;
        border-top: 2px solid #EAEAEA;
        transform: rotate(90deg);
        right: 117px;
        top: 44px;
    }

    .menu {
        flex-wrap: wrap;
        margin-top: -15px;
        margin-left: 6px;
    }

    .main__title::before {
        content: "";
        display: block;
        position: absolute;
        transform: rotate(90deg);
        width: 40px;
        border-top: 4px solid #41F6D7;
        border-radius: 50px;
        left: -20px;
        top: 40px;
    }

    .main__p {
        margin-top: auto;
        line-height: 20px;
        width: 490px;
        height: 160px;
    }

    .main__img {
        margin-left: 23px;
        margin-top: 4px;
        border-radius: 5px;
        width: 550px;
    }
}

@media (max-width: 1119px) and (min-width: 768px) {
    .logo {
        position: relative;
        padding: 3px 42px 0;
    }

    .logo::before {
        content: "";
        display: block;
        position: absolute;
        width: 32px;
        border-top: 2px solid #EAEAEA;
        transform: rotate(90deg);
        right: 146px;
        top: 30px;
    }

    .repair-block {
        display: flex;
        margin-left: 42px;
        margin-right: 15px;
    }

    .contact {
        display: flex;
        margin-left: auto;
    }

    .call,
    .chat {
        margin-right: 16px;
    }

    .main__repair-block {
        display: none;
    }

    .menu__list {
        margin-top: 10px;
    }

    .main__section {
        margin-top: 24px;
    }

    .main__p {
        margin: -31px 48px 13px 0;
        line-height: 143%;
        overflow: hidden;
        height: 160px;

    }

    .img {
        margin: -17px auto;
    }

    .main__img {
        width: 355px;
        height: 209px;
        border-radius: 5px;
    }
}

@media (max-width: 767px) {

    .contact {
        display: none;
    }

    .main__repair-block {
        display: none;
    }

    .main__p {
        overflow: hidden;
        height: 110px;
    }


    .main__section {
        display: block;
    }
}