@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../files/fonts/TTLakes-Bold.eot');
    src: url('../files/fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/TTLakes-Bold.woff') format('woff'),
        url('../files/fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../files/fonts/TTLakes-Regular.eot');
    src: url('../files/fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../files/fonts/TTLakes-Regular.woff') format('woff'),
        url('../files/fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}

ul li {
    list-style: none;
}

a,
a:focus,
a:active {
    outline: none;
    text-decoration: none;
}

.link {}

.wrapper {
    background-color: #F8F8F8;
    height: 100vh;
}



.header {
    display: flex;
    background-color: #fff;
    height: 88px;
    align-items: center;
    padding: 0 16px;
}

.header__button {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}

.header__icon {}

.burger-menu {
    border: 0;
}

.logo {
    padding: 0 16px;
}

.repair-block {
    display: flex;
    margin-left: auto;
}

.repair-block::before {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    border-top: 2px solid #EAEAEA;
    transform: rotate(90deg);
    right: 117px;
    top: 44px;
}

.repair {
    margin-right: 16px;
}

.checkstatus {}

.main {}

.main__title {
    font-family: "TT Lakes Bold";
    font-size: 28px;
    letter-spacing: -0.6px;
    margin: 0;
    padding: 24px 16px 0;
}

.main__title::before {
    content: "";
    display: block;
    position: absolute;
    transform: rotate(90deg);
    width: 40px;
    border-top: 8px solid #41F6D7;
    border-radius: 50px;
    left: -20px;
    top: 128px;
}

.menu {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin: 0;
    padding: 27px 0 10px 17px;
    overflow: auto;
}

.menu__list {
    font-family: 'TT Lakes Regular';
    font-size: 16px;
    color: #7E7E82;
    white-space: nowrap;
    padding: 7px 13px;
    margin-right: 7px;
    border: 2px solid transparent;
}

.menu__list:hover {
    background-color: #fff;
    border: 2px solid #41F6D7;
    border-radius: 5px;
}

.menu__link {
    color: #7E7E82;
}

.main__p {
    font-family: 'TT Lakes Regular';
    font-size: 14px;
    line-height: 129%;
    padding: 0 16px;
    text-align: left;
}

.main__button {}